<!DOCTYPE html>

{{!
Variables:
    day - day in month
    month - month in year
    month_name - name of month
    year - name of year

    addr_nxt_month - address of next month
    addr_prv_month - address of previous month
    addr_nxt_day - address of next day
    addr_prv_day - address of previous day

    total_disposable - total disposable amount
    day_disposable - daily (original) disposable amount
    expenses_total - sum of all expenses for given month
    remaining_amount - amount remaining for month

    real_day_disposable - real daily disposable amount
    avg_daily_expenses - average daily expenses
    saldo - saldo
    potential_remaining - potential remaining amount

    real_day_disposable_color - 'bad' or 'good'
    avg_daily_expenses_color - 'bad' or 'good'
    saldo_color - 'bad' or 'good'
    potential_remaining_color - 'bad' or 'good'

    days - vector of days in month consisting of:
        day - number of given day in month
        color - 'bad' or 'good'
        amount - sum of all transactions for given day

    current_day - current day in format "28. Března"
    current_day_name - week day name of current day

    transactions - list of all transactions for given day
        id - unique ID of transaction (used for updating)
        date - date of transaction
        categories - list of all categories defined in system
            id - category id
            name - category name
            selected - bool flag indicating if selected
        amount - monetary amount of transaction
        description - description of transaction

    categories - list of all categories defined in system
        id - category id
        name - category name
}}

<html>
<head>
    <title>{{month_name}} {{year}} - MBudget</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/graph-icon.svg">
</head>
<body>

    <input id="day" type="hidden" value="{{day}}"/>
    <input id="month" type="hidden" value="{{month}}"/>
    <input id="year" type="hidden" value="{{year}}"/>

    <input id="addr_nxt_month" type="hidden" value="{{addr_nxt_month}}"/>
    <input id="addr_prv_month" type="hidden" value="{{addr_prv_month}}"/>
    <input id="addr_nxt_day" type="hidden" value="{{addr_nxt_day}}"/>
    <input id="addr_prv_day" type="hidden" value="{{addr_prv_day}}"/>

    <div class="heading">
        <span class="arrow" id="arrow_previous_month">◀</span>
        <span class="heading_label">{{month_name}} {{year}}</span>
        <span class="arrow" id="arrow_next_month">▶</span>
    </div>

    <div class="info">

        <table class="info_table">
            <tr>
                <td class="label">Celková disponibilní částka:</td>
                <td class="monetary">{{info.total_disposable}}</td>
            </tr>
            <tr>
                <td class="label">Původní disponibilní částka per day:</td>
                <td class="monetary">{{info.day_disposable}}</td>
            </tr>
            <tr>
                <td class="label">Dosavadní útrata:</td>
                <td class="monetary">{{info.expenses_total}}</td>
            </tr>
            <tr>
                <td class="label">Zbývající částka:</td>
                <td class="monetary">{{info.remaining_amount}}</td>
            </tr>
        </table>

        <div class="empty_space"></div>

        <table class="info_table">
            <tr>
                <td class="label">Reálná disponibilní částka per day:</td>
                <td class="monetary {{info.real_day_disposable_color}}">
                    {{info.real_day_disposable}}
                </td>
            </tr>
            <tr>
                <td class="label">Průměrná útrata per day:</td>
                <td class="monetary {{info.avg_daily_expenses_color}}">
                    {{info.avg_daily_expenses}}
                </td>
            </tr>
            <tr>
                <td class="label">Saldo:</td>
                <td class="monetary {{info.saldo_color}}">
                    {{info.saldo}}
                </td>
            </tr>
            <tr>
                <td class="label">Potenciální zůstatek:</td>
                <td class="monetary {{info.potential_remaining_color}}">
                    {{info.potential_remaining}}
                </td>
            </tr>
        </table>

    <div class="spacer"></div>

    </div>

    <hr/>

    <div class="spacer"></div>

    <div class="heading">
        <span class="heading_label">Denní útrata</span>
    </div>

    <div class="daily_table_block">

        {{#each days}}

        <table class="daily_table" cellspacing="0">
            <tr class="days">
                <td><a class="reset-a" href="/{{../year}}/{{../month}}/{{day}}">{{day}}</a></td>
            </tr>
            <tr>
                <td class="{{color}}">{{amount}}</td>
            </tr>
        </table>

        {{/each}}

    </div>

    <div class="spacer"></div>

    <hr/>

    <div class="spacer"></div>
    
    <div class="heading">
        <span class="arrow" id="arrow_previous_day">◀</span>
        <span class="heading_label">{{current_day}}</span>
        <span class="arrow" id="arrow_next_day">▶</span>
    </div>

    <h3>{{current_day_name}}</h3>

    <div class="expanses">

        <table id="transactions_table">

            <tr>
                <th>
                    Částka
                </th>                
                <th>
                    Kategorie
                </th>                
                <th>
                    Poznámka
                </th>
            </tr>

            {{#each transactions}}
            
            <tr class="input_row" id="{{id}}">
                <td>
                    <input name="amount" type="number" value="{{amount}}" class="expanses_input"/>
                </td>
                <td>
                    <select name="category" class="expanses_input">
                        <option value="" class="no_cat">---</option>
                        {{#each categories}}                            
                        <option value="{{id}}" {{#if selected}}selected="true"{{/if}}>
                            {{name}}
                        </option>
                        {{/each}}
                    </select> 
                </td>
                <td>
                    <input name="description" type="text" value="{{description}}" class="expanses_input"/>
                </td>
            </tr>

            {{/each}}

            <tr id="add_row_btn_row">
                <td colspan="3">
                    <button id="add_row_btn">
                    +
                    </button> 
                </td>
            </tr>

        </table>
    </div>

    <div class="spacer"></div>

    <hr/>
    
    <div class="analytics-background">
        <a id="analytics-link" href="/analytics" class="reset-a">
            <img src="/img/graph-icon.svg" alt="Analytics">
            Analytika
        </a>
    </div>



    <template id="new_row_template" style="display: none;">
        <tr class="input_row" id="">
            <td>
                <input name="amount" type="number" value="" class="expanses_input"/>
            </td>
            <td>
                <select name="category" class="expanses_input">
                    <option value="" class="no_cat" selected="true">---</option>
                    {{#each categories}}                            
                    <option value="{{id}}">
                        {{name}}
                    </option>
                    {{/each}}
                </select> 
            </td>
            <td>
                <input name="description" type="text" value="" class="expanses_input"/>
            </td>
        </tr>
    </template>

</body>
</html> 